/project-venv
/classes/world/__pycache__
/classes/player/__pycache__
/classes/button/__pycache__
/classes/enemies/__pycache__
/classes/exit/__pycache__
/classes/lava/__pycache__
/constants/__pycache__
/levels/__pycache__
